<div class="buttonContainer">

  <div class="child" >
    <h1>Simple Login App</h1>
    <button type="button" class="btn btn-secondary btn-lg" ng-click="login()" >Login</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary btn-lg" ng-click="signup()" >Signup</button>
  </div>
  <login-template showlogin="showLoginBox" ng-show="showLoginBox"></login-template>
  <register-template showlogin="showLoginBox" showregister="showRegisterBox" ng-show="showRegisterBox"></register-template>
</div>
