<div class="wrapper">
    <form class="form-signin">
      <h2 class="form-signin-heading">Please login</h2>
      {{msg}}
      <input type="text" class="form-control" name="username" ng-model="loginInfo.username" placeholder="Email Address" required="" autofocus="" />
      <input type="password" class="form-control" name="password" ng-model="loginInfo.password" placeholder="Password" required=""/>
      <button class="btn btn-lg btn-primary btn-block" ng-click="submit()" type="submit">Login</button>
    </form>
  </div>
